<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestVagrantAssignment">
<parameter name="input-json-path" value="C:\Users\roysa\git\AssignmentVagrant\AssignmentVagrant\src\test\resources\TeamRCB.json"/>
  <test thread-count="5" name="TeamSelectionValidators">
    <classes>
      <class name="testClasses.TestScenarioValidations"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
